<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.al.turinrally" >

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyADlAhXFwSdzU6zBgXR7ARR4wkN5BqW3dY" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeSplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WarningStartActivity"
            android:label="@string/title_activity_warning_start" >
        </activity>
        <!--
        <activity
            android:name=".WarningStartActivity"
            android:label="@string/title_activity_warning_start" >
        </activity>
        -->
        <activity
            android:name=".MisteryMainActivity"
            android:label="@string/title_activity_mistery_main" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".Challenge1.Challenge1Activity"
            android:label="@string/title_activity_challenge1" >
        </activity>
        <activity
            android:name=".Challenge1.BadAnswerActivity"
            android:label="@string/title_activity_bad_answer" >
        </activity>
        <activity
            android:name=".Challenge2.Challenge2Activity"
            android:label="@string/title_activity_challenge2" >
        </activity>
        <activity
            android:name=".Challenge1.GoodAnswerActivity"
            android:label="@string/title_activity_good_answer" >
        </activity>
        <activity
            android:name=".Challenge2.BadAnswerActivity2"
            android:label="@string/title_activity_bad_answer_actvitity2" >
        </activity>
        <activity
            android:name=".Challenge2.GoodAnswerActivity2"
            android:label="@string/title_activity_good_answer_activity2" >
        </activity>
        <activity
            android:name=".Challenge2.BadAnswerActivity2"
            android:label="@string/title_activity_bad_answer_activity2" >
        </activity>
        <activity
            android:name=".Challenge3.Challenge3Activity"
            android:label="@string/title_activity_activity3" >
        </activity>
        <activity
            android:name=".TurinRallyActivity"
            android:label="@string/title_activity_turin_rally" >
        </activity>
        <activity
            android:name=".AboutAppActivity"
            android:label="@string/title_activity_about_app" >
        </activity>
        <activity
            android:name=".Challenge3.BadAnswerActivity3"
            android:label="@string/title_activity_bad_answer_activity3" >
        </activity>
        <activity
            android:name=".Challenge3.GoodAnswerActivity3"
            android:label="@string/title_activity_good_answer_activity3" >
        </activity>
        <activity
            android:name=".Challenge4.Challenge4Activity"
            android:label="@string/title_activity_activity4" >
        </activity>
        <activity
            android:name=".Challenge4.GoodAnswerActivity4"
            android:label="@string/title_activity_good_answer_activity4" >
        </activity>
        <activity
            android:name=".Challenge4.BadAnswerActivity4"
            android:label="@string/title_activity_bad_answer_activity4" >
        </activity>
        <activity android:name="com.example.al.turinrally.FinalMysteryActivity"
            android:label="@string/title_activity_final_mystery"
            >
        </activity>
    <activity android:name="com.example.al.turinrally.BadAnswerFinal"
        android:label="@string/title_activity_bad_answer_final"
        >
    </activity>

    </application>

</manifest>
